In [2]:
#What is the average age of the customers in the database?

import pandas as pd
#Começando importando a biblioteca pandas que será fundamental


customers = pd.read_csv("customers.csv", sep = ';' )
#Lendo o arquivo customers.csv e guardando na variável "customers"


idademedia = customers['age'].mean()
#Calculando a idade media dos "customers"

print(idademedia)

#A idade média é mostrada na tela (~35.06 Anos)

35.059922453295734

In [3]:
#How is the card_family ranked based on the credit_limit given to each card?

cards = pd.read_csv("cards.csv", sep = ';' )
#Lendo o arquivo cards.csv e guardando na variável "cards"

cards[['credit_limit', 'card_family']].groupby('card_family').min()
#Selecionando as colunas "credit_limit" e "card_family" e descobrindo os menores valores

             credit_limit
card_family
Gold                 2000
Platinum            51000
Premium            108000

In [4]:
cards = pd.read_csv("cards.csv", sep = ';' )


cards[['credit_limit', 'card_family']].groupby('card_family').max()
#Selecionando as colunas "credit_limit" e "card_family" e descobrindo os maiores valores

#Assim descobrimos que o card_family está associado com o credit_limit da seguinte forma
#Se o credit_limit é menor que 50000 o cartão é Gold
#Se o credit_limit é maior ou igual a 51000 e menor que 108000 o cartão é Platinum
#Se o credit_limit está entre 108000 e 200000 o cartão pode ser Platinum ou Premium
#E por último, se o cartão tem credit_limit maior que 200000 então ele é Premium

             credit_limit
card_family
Gold                50000
Platinum           200000
Premium            899000

In [7]:
#For the transactions flagged as fraud, what are the ids of the transactions with the highest value?


frauds = pd.read_csv("frauds.csv", sep = ';' )

#Lendo o arquivo 'frauds.csv' e armazenando na variável frauds

transactions = pd.read_csv("transactions.csv", sep = ';' )

#Lendo o arquivo 'transactions.csv' e armazenando na variável transactions





transactions_frauds = transactions.loc[transactions['id'].isin(frauds['transaction_id'])]
#Relacionando o 'transaction_id' da variável frauds com o 'id' da variável transactions, procurando por interesecções
#A lógica por trás é, vamos extrair mais informações das transações fraudulentas caso encontremos elas no arquivo de transações.




frauds_c = transactions_frauds[['id', 'value',]].sort_values(by = 'value', ascending = False)
#Agora, utilizando a varíavel criada acima, vamos extrair apenas o 'id' e o 'value' que foi pedido na questão, em forma descrescente.





print(frauds_c.head(20))
#Será mostrado na tela as 20 transações com os maiores valores e seus respectivos 'id's.
#Caso queira mais ou menos que 20, basta mudar o argumento da função .head() que está 20 para a quantia desejada.

                id  value
600   CTID20567160  49155
9619  CTID15034243  48845
4552  CTID95884307  48588
646   CTID54759604  48567
4142  CTID55429304  48514
2529  CTID29469747  48453
494   CTID76723439  48275
6387  CTID85085771  48186
2214  CTID25962688  45807
2009  CTID60575167  45760
4717  CTID42980186  45625
336   CTID63762180  44550
7720  CTID31867370  44234
5418  CTID40881434  43482
7661  CTID41847490  42816
957   CTID81479835  41525
6075  CTID89116114  41216
6082  CTID30763806  40751
6808  CTID32907279  38744
6035  CTID23350804  38505